/.settings
/.project
/.classpath
/target
/build
/demo
/logs
/.myeclipse/
/src/main/webapp/WEB-INF/classes
/src/main/webapp/WEB-INF/lib
/.reverse.properties
/.idea/
/.iml
/out
*.iml
.DS_Store
/src/main/java/Main.java
/src/main/java/Person.java
*.bak